In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16],[17,18,18,20]], columns=['C0','C1','C2','C3'])
df

   C0  C1  C2  C3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  18  20

In [4]:
df.head()

   C0  C1  C2  C3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  18  20

In [5]:
df.head(2)              #First 2 rows

   C0  C1  C2  C3
0   1   2   3   4
1   5   6   7   8

In [6]:
df.tail()

   C0  C1  C2  C3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  18  20

In [7]:
df.tail(3)            #Last 3 rows

   C0  C1  C2  C3
2   9  10  11  12
3  13  14  15  16
4  17  18  18  20

# Slicing

In [8]:
df.shape              #SIZE

(5, 4)

In [9]:
df.iloc[0,1]        #0th ROW and 1st COLUMN

2

In [10]:
df.iloc[1:3, 2:4]   #1st to 2nd ROW and 2nd to 3rd COLUMN

   C2  C3
1   7   8
2  11  12

# Read and Write CSV

In [11]:
df=pd.read_csv('stock.csv')      #READ CSV
df

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE,52W H \n,52W L \n,365 D % CHNG \n 25-Jun-2021,30 D % CHNG \n 27-May-2022
0,NIFTY 50,"15,703.70","15,793.95","15,511.05","15,780.25","15,752.05",-28.20,-0.18,364090131,"258,917,359,919.75","18,604.45","15,183.40",0.46,-4.66
1,ITC,273.50,285.00,271.20,273.50,284.75,11.25,4.11,35165665,"9,842,517,976.85",285.00,200.90,40.07,4.60
2,BAJFINANCE,"5,364.00","5,633.95","5,335.05","5,400.50","5,617.95",217.45,4.03,1221890,"6,717,694,623.10","8,050.00","5,220.00",-5.91,-6.58
3,BAJAJFINSV,"10,920.00","11,343.00","10,727.20","10,931.75","11,315.00",383.25,3.51,408983,"4,572,364,502.72","19,325.00","10,727.20",-4.18,-10.11
4,CIPLA,911.20,956.05,911.20,917.20,948.00,30.80,3.36,1793834,"1,677,593,556.80","1,083.00",850.00,-2.94,-3.48
5,BPCL,308.50,319.25,305.70,308.40,318.50,10.10,3.27,4416695,"1,381,939,698.55",503.00,293.35,-31.20,-2.35
6,BRITANNIA,"3,412.00","3,600.00","3,412.00","3,466.40","3,575.00",108.60,3.13,292487,"1,029,595,188.18","4,153.00","3,050.00",-0.32,0.93
7,HDFCLIFE,549.95,567.30,540.55,550.00,567.00,17.00,3.09,2052291,"1,143,741,774.30",775.65,497.05,-17.54,-6.87
8,ASIANPAINT,"2,704.90","2,780.00","2,685.00","2,695.20","2,769.65",74.45,2.76,1477191,"4,055,317,680.39","3,590.00","2,560.00",-8.22,-2.78
9,HINDUNILVR,"2,226.00","2,293.00","2,203.60","2,230.60","2,291.00",60.40,2.71,1235612,"2,788,393,244.28","2,859.30","1,901.55",-7.90,-1.13
10,JSWSTEEL,556.55,580.50,556.55,564.50,577.50,13.00,2.30,3737790,"2,128,073,358.60",790.00,520.05,-14.94,1.64
11,TATACONSUM,700.00,722.95,697.00,706.35,721.50,15.15,2.14,954981,"679,086,989.10",889.00,650.20,-4.83,-5.46
12,TCS,"3,260.00","3,333.00","3,252.05","3,267.10","3,331.00",63.90,1.96,1502879,"4,930,344,847.40","4,043.00","3,023.85",-0.79,-1.20
13,GRASIM,"1,320.00","1,350.00","1,305.30","1,320.75","1,345.70",24.95,1.89,516506,"686,565,600.50","1,929.80","1,276.60",-10.20,-6.22
14,NESTLEIND,"17,400.00","17,829.40","17,331.05","17,470.00","17,800.00",330.00,1.89,38547,"681,238,432.71","20,609.15","16,000.00",0.84,3.21
15,SBILIFE,"1,085.45","1,105.35","1,075.00","1,081.60","1,100.25",18.65,1.72,696341,"760,118,872.19","1,293.25",996.05,9.23,-4.59
16,INDUSINDBK,793.00,810.00,783.00,794.35,808.00,13.65,1.72,2796110,"2,241,976,920.20","1,242.00",763.20,-19.90,-13.05
17,UPL,630.00,646.00,621.95,632.40,642.85,10.45,1.65,3575548,"2,276,015,079.40",852.40,607.50,-18.70,-17.47
18,HDFC,"2,155.00","2,224.05","2,133.10","2,170.85","2,205.30",34.45,1.59,2776869,"6,047,243,158.68","3,021.10","2,026.00",-10.12,-5.12
19,ULTRACEMCO,"5,600.00","5,699.75","5,485.00","5,607.30","5,690.00",82.70,1.47,329610,"1,855,160,443.50","8,269.00","5,157.05",-15.14,-4.75
20,WIPRO,415.00,423.20,411.40,416.05,422.05,6.00,1.44,4453624,"1,855,023,468.48",739.85,402.05,-21.76,-10.36
21,HEROMOTOCO,"2,715.00","2,770.00","2,683.35","2,719.70","2,758.80",39.10,1.44,393346,"1,075,824,910.76","2,968.95","2,146.85",-5.43,0.22
22,APOLLOHOSP,"3,680.00","3,745.00","3,635.20","3,683.50","3,732.00",48.50,1.32,316894,"1,169,161,399.36","5,935.40","3,361.55",1.57,-2.68
23,INFY,"1,454.00","1,485.00","1,442.35","1,461.90","1,481.00",19.10,1.31,4651635,"6,800,411,271.90","1,953.90","1,367.15",-5.19,0.06
24,M&M,"1,092.40","1,113.35","1,064.00","1,093.15","1,107.00",13.85,1.27,2839545,"3,101,862,167.10","1,121.45",671.15,42.07,5.73
25,SHREECEM,"19,050.00","19,272.00","18,898.85","19,009.70","19,233.05",223.35,1.17,17699,"338,754,081.27","31,469.95","17,865.20",-29.00,-11.83
26,AXISBANK,633.00,646.60,631.80,636.80,644.00,7.20,1.13,6549359,"4,191,262,292.05",866.90,618.25,-13.73,-6.14
27,TECHM,997.00,"1,014.00",989.30,"1,000.00","1,011.25",11.25,1.13,1842102,"1,848,880,935.36","1,838.00",943.70,-6.86,-11.85
28,KOTAKBANK,"1,645.00","1,679.50","1,636.00","1,661.10","1,678.00",16.90,1.02,2300514,"3,822,234,995.58","2,253.00","1,626.00",-2.82,-10.58
29,HINDALCO,335.00,342.90,330.25,338.65,341.80,3.15,0.93,11278576,"3,788,248,106.88",636.00,308.95,-10.08,-16.92
30,ADANIPORTS,670.00,680.00,656.00,672.05,678.30,6.25,0.93,3151179,"2,105,491,760.64",924.65,651.95,-3.58,-8.01
31,LT,"1,560.95","1,576.00","1,534.60","1,558.25","1,571.80",13.55,0.87,1294305,"2,016,255,385.95","2,078.55","1,456.35",5.35,-4.60
32,HCLTECH,964.50,981.45,964.20,973.25,979.05,5.80,0.60,2827579,"2,746,681,964.81","1,377.75",944.05,-1.03,-4.18
33,SBIN,463.35,468.80,460.55,465.90,468.50,2.60,0.56,9405495,"4,374,119,504.70",549.00,401.25,11.05,-0.31
34,HDFCBANK,"1,343.95","1,360.00","1,330.05","1,348.00","1,354.95",6.95,0.52,5736226,"7,722,508,977.02","1,725.00","1,271.60",-8.95,-2.95
35,TATASTEEL,866.95,875.00,859.10,867.05,871.20,4.15,0.48,5476189,"4,746,979,672.76","1,534.50",827.00,-24.98,-17.93
36,TATAMOTORS,410.65,414.60,402.30,411.80,413.70,1.90,0.46,14725989,"5,997,895,319.70",536.70,268.45,19.88,-7.17
37,DIVISLAB,"3,590.35","3,649.60","3,581.05","3,630.40","3,647.00",16.60,0.46,304397,"1,099,975,087.14","5,425.10","3,365.55",-17.99,2.32
38,TITAN,"1,895.00","1,954.35","1,825.05","1,941.25","1,944.75",3.50,0.18,4064801,"7,729,950,765.68","2,768.00","1,662.50",11.83,-11.44
39,SUNPHARMA,829.90,836.95,825.00,830.60,830.80,0.20,0.02,2316527,"1,921,188,502.18",967.05,664.20,21.21,-1.19
40,ICICIBANK,703.45,706.75,694.10,707.20,706.00,-1.20,-0.17,9884899,"6,924,865,994.45",867.00,629.80,11.58,-6.48
41,EICHERMOT,"2,775.00","2,809.80","2,750.40","2,794.35","2,789.00",-5.35,-0.19,367512,"1,018,802,065.92","2,994.00","2,159.55",4.02,0.40
42,DRREDDY,"4,385.00","4,395.00","4,290.05","4,393.80","4,385.00",-8.80,-0.20,304799,"1,327,369,165.10","5,614.60","3,654.00",-21.10,1.55
43,MARUTI,"8,440.00","8,450.00","8,305.60","8,470.75","8,399.95",-70.80,-0.84,530569,"4,440,634,385.33","9,050.00","6,536.55",10.79,5.83
44,NTPC,142.00,143.20,139.75,142.90,141.10,-1.80,-1.26,9592229,"1,355,381,957.70",166.35,111.95,19.86,-10.30
45,COALINDIA,185.00,186.15,176.60,185.60,183.20,-2.40,-1.29,17248729,"3,132,369,186.40",209.00,132.75,25.82,-6.53
46,BHARTIARTL,684.85,685.80,666.00,684.95,673.00,-11.95,-1.74,4488771,"3,024,129,910.41",781.80,514.85,28.85,-3.05
47,BAJAJ-AUTO,"3,667.95","3,678.70","3,601.10","3,706.60","3,621.70",-84.90,-2.29,756589,"2,746,788,798.61","4,250.00","3,027.05",-13.79,-2.57
48,POWERGRID,211.05,212.90,205.20,211.90,206.55,-5.35,-2.52,8350248,"1,735,766,051.76",248.35,167.15,-10.53,-9.90
49,RELIANCE,"2,574.90","2,592.00","2,365.00","2,595.65","2,406.00",-189.65,-7.31,37841671,"92,119,871,798.85","2,856.15","2,016.25",14.81,-8.54
50,ONGC,148.95,151.15,130.00,151.55,131.40,-20.15,-13.30,125788305,"17,143,688,088.45",194.95,108.50,10.27,-12.49

In [12]:
df.to_csv('export.csv', index=False)      #CONVERTS TO CSV   #INDEX = FALSE(NO ROW FOR INDEX)

In [13]:
pd.read_csv('export.csv')

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE,52W H \n,52W L \n,365 D % CHNG \n 25-Jun-2021,30 D % CHNG \n 27-May-2022
0,NIFTY 50,"15,703.70","15,793.95","15,511.05","15,780.25","15,752.05",-28.20,-0.18,364090131,"258,917,359,919.75","18,604.45","15,183.40",0.46,-4.66
1,ITC,273.50,285.00,271.20,273.50,284.75,11.25,4.11,35165665,"9,842,517,976.85",285.00,200.90,40.07,4.60
2,BAJFINANCE,"5,364.00","5,633.95","5,335.05","5,400.50","5,617.95",217.45,4.03,1221890,"6,717,694,623.10","8,050.00","5,220.00",-5.91,-6.58
3,BAJAJFINSV,"10,920.00","11,343.00","10,727.20","10,931.75","11,315.00",383.25,3.51,408983,"4,572,364,502.72","19,325.00","10,727.20",-4.18,-10.11
4,CIPLA,911.20,956.05,911.20,917.20,948.00,30.80,3.36,1793834,"1,677,593,556.80","1,083.00",850.00,-2.94,-3.48
5,BPCL,308.50,319.25,305.70,308.40,318.50,10.10,3.27,4416695,"1,381,939,698.55",503.00,293.35,-31.20,-2.35
6,BRITANNIA,"3,412.00","3,600.00","3,412.00","3,466.40","3,575.00",108.60,3.13,292487,"1,029,595,188.18","4,153.00","3,050.00",-0.32,0.93
7,HDFCLIFE,549.95,567.30,540.55,550.00,567.00,17.00,3.09,2052291,"1,143,741,774.30",775.65,497.05,-17.54,-6.87
8,ASIANPAINT,"2,704.90","2,780.00","2,685.00","2,695.20","2,769.65",74.45,2.76,1477191,"4,055,317,680.39","3,590.00","2,560.00",-8.22,-2.78
9,HINDUNILVR,"2,226.00","2,293.00","2,203.60","2,230.60","2,291.00",60.40,2.71,1235612,"2,788,393,244.28","2,859.30","1,901.55",-7.90,-1.13
10,JSWSTEEL,556.55,580.50,556.55,564.50,577.50,13.00,2.30,3737790,"2,128,073,358.60",790.00,520.05,-14.94,1.64
11,TATACONSUM,700.00,722.95,697.00,706.35,721.50,15.15,2.14,954981,"679,086,989.10",889.00,650.20,-4.83,-5.46
12,TCS,"3,260.00","3,333.00","3,252.05","3,267.10","3,331.00",63.90,1.96,1502879,"4,930,344,847.40","4,043.00","3,023.85",-0.79,-1.20
13,GRASIM,"1,320.00","1,350.00","1,305.30","1,320.75","1,345.70",24.95,1.89,516506,"686,565,600.50","1,929.80","1,276.60",-10.20,-6.22
14,NESTLEIND,"17,400.00","17,829.40","17,331.05","17,470.00","17,800.00",330.00,1.89,38547,"681,238,432.71","20,609.15","16,000.00",0.84,3.21
15,SBILIFE,"1,085.45","1,105.35","1,075.00","1,081.60","1,100.25",18.65,1.72,696341,"760,118,872.19","1,293.25",996.05,9.23,-4.59
16,INDUSINDBK,793.00,810.00,783.00,794.35,808.00,13.65,1.72,2796110,"2,241,976,920.20","1,242.00",763.20,-19.90,-13.05
17,UPL,630.00,646.00,621.95,632.40,642.85,10.45,1.65,3575548,"2,276,015,079.40",852.40,607.50,-18.70,-17.47
18,HDFC,"2,155.00","2,224.05","2,133.10","2,170.85","2,205.30",34.45,1.59,2776869,"6,047,243,158.68","3,021.10","2,026.00",-10.12,-5.12
19,ULTRACEMCO,"5,600.00","5,699.75","5,485.00","5,607.30","5,690.00",82.70,1.47,329610,"1,855,160,443.50","8,269.00","5,157.05",-15.14,-4.75
20,WIPRO,415.00,423.20,411.40,416.05,422.05,6.00,1.44,4453624,"1,855,023,468.48",739.85,402.05,-21.76,-10.36
21,HEROMOTOCO,"2,715.00","2,770.00","2,683.35","2,719.70","2,758.80",39.10,1.44,393346,"1,075,824,910.76","2,968.95","2,146.85",-5.43,0.22
22,APOLLOHOSP,"3,680.00","3,745.00","3,635.20","3,683.50","3,732.00",48.50,1.32,316894,"1,169,161,399.36","5,935.40","3,361.55",1.57,-2.68
23,INFY,"1,454.00","1,485.00","1,442.35","1,461.90","1,481.00",19.10,1.31,4651635,"6,800,411,271.90","1,953.90","1,367.15",-5.19,0.06
24,M&M,"1,092.40","1,113.35","1,064.00","1,093.15","1,107.00",13.85,1.27,2839545,"3,101,862,167.10","1,121.45",671.15,42.07,5.73
25,SHREECEM,"19,050.00","19,272.00","18,898.85","19,009.70","19,233.05",223.35,1.17,17699,"338,754,081.27","31,469.95","17,865.20",-29.00,-11.83
26,AXISBANK,633.00,646.60,631.80,636.80,644.00,7.20,1.13,6549359,"4,191,262,292.05",866.90,618.25,-13.73,-6.14
27,TECHM,997.00,"1,014.00",989.30,"1,000.00","1,011.25",11.25,1.13,1842102,"1,848,880,935.36","1,838.00",943.70,-6.86,-11.85
28,KOTAKBANK,"1,645.00","1,679.50","1,636.00","1,661.10","1,678.00",16.90,1.02,2300514,"3,822,234,995.58","2,253.00","1,626.00",-2.82,-10.58
29,HINDALCO,335.00,342.90,330.25,338.65,341.80,3.15,0.93,11278576,"3,788,248,106.88",636.00,308.95,-10.08,-16.92
30,ADANIPORTS,670.00,680.00,656.00,672.05,678.30,6.25,0.93,3151179,"2,105,491,760.64",924.65,651.95,-3.58,-8.01
31,LT,"1,560.95","1,576.00","1,534.60","1,558.25","1,571.80",13.55,0.87,1294305,"2,016,255,385.95","2,078.55","1,456.35",5.35,-4.60
32,HCLTECH,964.50,981.45,964.20,973.25,979.05,5.80,0.60,2827579,"2,746,681,964.81","1,377.75",944.05,-1.03,-4.18
33,SBIN,463.35,468.80,460.55,465.90,468.50,2.60,0.56,9405495,"4,374,119,504.70",549.00,401.25,11.05,-0.31
34,HDFCBANK,"1,343.95","1,360.00","1,330.05","1,348.00","1,354.95",6.95,0.52,5736226,"7,722,508,977.02","1,725.00","1,271.60",-8.95,-2.95
35,TATASTEEL,866.95,875.00,859.10,867.05,871.20,4.15,0.48,5476189,"4,746,979,672.76","1,534.50",827.00,-24.98,-17.93
36,TATAMOTORS,410.65,414.60,402.30,411.80,413.70,1.90,0.46,14725989,"5,997,895,319.70",536.70,268.45,19.88,-7.17
37,DIVISLAB,"3,590.35","3,649.60","3,581.05","3,630.40","3,647.00",16.60,0.46,304397,"1,099,975,087.14","5,425.10","3,365.55",-17.99,2.32
38,TITAN,"1,895.00","1,954.35","1,825.05","1,941.25","1,944.75",3.50,0.18,4064801,"7,729,950,765.68","2,768.00","1,662.50",11.83,-11.44
39,SUNPHARMA,829.90,836.95,825.00,830.60,830.80,0.20,0.02,2316527,"1,921,188,502.18",967.05,664.20,21.21,-1.19
40,ICICIBANK,703.45,706.75,694.10,707.20,706.00,-1.20,-0.17,9884899,"6,924,865,994.45",867.00,629.80,11.58,-6.48
41,EICHERMOT,"2,775.00","2,809.80","2,750.40","2,794.35","2,789.00",-5.35,-0.19,367512,"1,018,802,065.92","2,994.00","2,159.55",4.02,0.40
42,DRREDDY,"4,385.00","4,395.00","4,290.05","4,393.80","4,385.00",-8.80,-0.20,304799,"1,327,369,165.10","5,614.60","3,654.00",-21.10,1.55
43,MARUTI,"8,440.00","8,450.00","8,305.60","8,470.75","8,399.95",-70.80,-0.84,530569,"4,440,634,385.33","9,050.00","6,536.55",10.79,5.83
44,NTPC,142.00,143.20,139.75,142.90,141.10,-1.80,-1.26,9592229,"1,355,381,957.70",166.35,111.95,19.86,-10.30
45,COALINDIA,185.00,186.15,176.60,185.60,183.20,-2.40,-1.29,17248729,"3,132,369,186.40",209.00,132.75,25.82,-6.53
46,BHARTIARTL,684.85,685.80,666.00,684.95,673.00,-11.95,-1.74,4488771,"3,024,129,910.41",781.80,514.85,28.85,-3.05
47,BAJAJ-AUTO,"3,667.95","3,678.70","3,601.10","3,706.60","3,621.70",-84.90,-2.29,756589,"2,746,788,798.61","4,250.00","3,027.05",-13.79,-2.57
48,POWERGRID,211.05,212.90,205.20,211.90,206.55,-5.35,-2.52,8350248,"1,735,766,051.76",248.35,167.15,-10.53,-9.90
49,RELIANCE,"2,574.90","2,592.00","2,365.00","2,595.65","2,406.00",-189.65,-7.31,37841671,"92,119,871,798.85","2,856.15","2,016.25",14.81,-8.54
50,ONGC,148.95,151.15,130.00,151.55,131.40,-20.15,-13.30,125788305,"17,143,688,088.45",194.95,108.50,10.27,-12.49

In [14]:
df['SYMBOL \n'].dtype

dtype('O')

In [15]:
print(df['SYMBOL \n'].dtype)

object

In [16]:
print(df['SYMBOL \n'].astype('category'))     #CREATES UNIQUE CATEGORIES OF NAME AND ASSIGN

0       NIFTY 50
1            ITC
2     BAJFINANCE
3     BAJAJFINSV
4          CIPLA
5           BPCL
6      BRITANNIA
7       HDFCLIFE
8     ASIANPAINT
9     HINDUNILVR
10      JSWSTEEL
11    TATACONSUM
12           TCS
13        GRASIM
14     NESTLEIND
15       SBILIFE
16    INDUSINDBK
17           UPL
18          HDFC
19    ULTRACEMCO
20         WIPRO
21    HEROMOTOCO
22    APOLLOHOSP
23          INFY
24           M&M
25      SHREECEM
26      AXISBANK
27         TECHM
28     KOTAKBANK
29      HINDALCO
30    ADANIPORTS
31            LT
32       HCLTECH
33          SBIN
34      HDFCBANK
35     TATASTEEL
36    TATAMOTORS
37      DIVISLAB
38         TITAN
39     SUNPHARMA
40     ICICIBANK
41     EICHERMOT
42       DRREDDY
43        MARUTI
44          NTPC
45     COALINDIA
46    BHARTIARTL
47    BAJAJ-AUTO
48     POWERGRID
49      RELIANCE
50          ONGC
Name: SYMBOL \n, dtype: category
Categories (51, object): ['ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK', ..., 'TITAN', 'ULTRACEMCO', 'UPL', 'WIPRO']

# Merging

In [17]:
df1 = pd.DataFrame([[1,8,7],[0,6,7],[4,3,1]], columns=['A','B','C'])
df1

   A  B  C
0  1  8  7
1  0  6  7
2  4  3  1

In [18]:
df2 = pd.DataFrame([[5,8,5],[4,6,1],[2,3,7]], columns=['D','E','F'])
df2

   D  E  F
0  5  8  5
1  4  6  1
2  2  3  7

In [19]:
pd.merge(df1,df2, right_on='E', left_on='B')

   A  B  C  D  E  F
0  1  8  7  5  8  5
1  0  6  7  4  6  1
2  4  3  1  2  3  7

In [22]:
df1.ix()

AttributeError: 'DataFrame' object has no attribute 'ix'