In [18]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('RELIANCE.csv')
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,RELIANCE,EQ,233.05,237.50,251.70,237.50,251.70,251.70,249.37,4456424,1.111319e+14,NaN,NaN,NaN
1,2000-01-04,RELIANCE,EQ,251.70,258.40,271.85,251.30,271.85,271.85,263.52,9487878,2.500222e+14,NaN,NaN,NaN
2,2000-01-05,RELIANCE,EQ,271.85,256.65,287.90,256.65,286.75,282.50,274.79,26833684,7.373697e+14,NaN,NaN,NaN
3,2000-01-06,RELIANCE,EQ,282.50,289.00,300.70,289.00,293.50,294.35,295.45,15682286,4.633254e+14,NaN,NaN,NaN
4,2000-01-07,RELIANCE,EQ,294.35,295.00,317.90,293.00,314.50,314.55,308.91,19870977,6.138388e+14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,RELIANCE,EQ,1904.35,1920.00,1962.00,1911.50,1938.00,1937.85,1941.32,9620785,1.867699e+15,259137.0,4276703.0,0.4445
5302,2021-04-27,RELIANCE,EQ,1937.85,1940.00,1997.20,1938.25,1990.00,1988.65,1978.64,9226547,1.825602e+15,291197.0,3772144.0,0.4088
5303,2021-04-28,RELIANCE,EQ,1988.65,1997.85,2008.00,1980.15,1993.15,1997.30,1997.60,7902002,1.578508e+15,247331.0,3921560.0,0.4963
5304,2021-04-29,RELIANCE,EQ,1997.30,2022.90,2044.50,2007.30,2020.00,2024.05,2024.21,8035915,1.626634e+15,213153.0,2834103.0,0.3527
5305,2021-04-30,RELIANCE,EQ,2024.05,2008.50,2036.00,1987.55,1995.90,1994.50,2010.20,9150974,1.839532e+15,288687.0,3902504.0,0.4265

In [3]:
arr = df.to_numpy()
arr

array([['2000-01-03', 'RELIANCE', 'EQ', ..., nan, nan, nan],
       ['2000-01-04', 'RELIANCE', 'EQ', ..., nan, nan, nan],
       ['2000-01-05', 'RELIANCE', 'EQ', ..., nan, nan, nan],
       ...,
       ['2021-04-28', 'RELIANCE', 'EQ', ..., 247331.0, 3921560.0, 0.4963],
       ['2021-04-29', 'RELIANCE', 'EQ', ..., 213153.0, 2834103.0, 0.3527],
       ['2021-04-30', 'RELIANCE', 'EQ', ..., 288687.0, 3902504.0, 0.4265]],
      dtype=object)

In [4]:
arr[0]

array(['2000-01-03', 'RELIANCE', 'EQ', 233.05, 237.5, 251.7, 237.5, 251.7,
       251.7, 249.37, 4456424, 111131914445000.0, nan, nan, nan],
      dtype=object)

In [5]:
stock_features = arr[:,3:8]
stock_features

array([[233.05, 237.5, 251.7, 237.5, 251.7],
       [251.7, 258.4, 271.85, 251.3, 271.85],
       [271.85, 256.65, 287.9, 256.65, 286.75],
       ...,
       [1988.65, 1997.85, 2008.0, 1980.15, 1993.15],
       [1997.3, 2022.9, 2044.5, 2007.3, 2020.0],
       [2024.05, 2008.5, 2036.0, 1987.55, 1995.9]], dtype=object)

In [6]:
from sklearn import linear_model
from sklearn.metrics import mean_absolute_percentage_error

In [7]:
stock_features.shape

(5306, 5)

In [8]:
features_train = stock_features[:-50]
features_test = stock_features[-50:]

In [9]:
stock_label = arr[:,8]
stock_label

array([251.7, 271.85, 282.5, ..., 1997.3, 2024.05, 1994.5], dtype=object)

In [10]:
label_train = stock_label[:-50]
label_test = stock_label[-50:]

In [11]:
model = linear_model.LinearRegression()
model.fit(features_train, label_train)
predicted = model.predict(features_test)

In [12]:
mean_absolute_percentage_error(label_test, predicted)

0.001193568674756895

In [13]:
label_test

array([2032.6, 2059.5, 2083.25, 2067.7, 2080.3, 2008.1, 2023.45, 2061.0,
       2144.35, 2085.8, 2101.7, 2106.0, 2202.1, 2175.85, 2178.7, 2191.1,
       2191.05, 2181.95, 2137.6, 2108.9, 2100.6, 2055.35, 2009.1, 2082.0,
       2062.4, 2087.5, 2047.3, 1991.45, 1994.65, 2029.3, 2003.1, 2021.85,
       1992.6, 1984.3, 2002.85, 2005.35, 1982.05, 1911.15, 1931.8, 1944.3,
       1932.1, 1901.7, 1901.15, 1906.4, 1904.35, 1937.85, 1988.65, 1997.3,
       2024.05, 1994.5], dtype=object)

In [14]:
predicted

array([2035.13610661, 2059.41531891, 2079.27123006, 2066.42802537,
       2081.26041033, 2003.60100162, 2026.51840921, 2059.48539614,
       2144.58089436, 2082.16714404, 2099.87938867, 2107.73541004,
       2203.97019158, 2173.7632768 , 2177.29033248, 2195.89303962,
       2188.4439209 , 2180.66798865, 2139.65736905, 2105.35890866,
       2102.04981732, 2055.33039709, 2013.39593496, 2075.92511132,
       2059.25011718, 2081.63496018, 2049.26412171, 1996.00994289,
       1993.17417487, 2031.20899638, 2008.78763822, 2019.53451932,
       1990.89516477, 1985.56024967, 2005.38075287, 2006.4597747 ,
       1984.57997497, 1916.56378144, 1932.20071068, 1942.94502588,
       1930.39098206, 1903.09953467, 1904.75157996, 1904.11414027,
       1903.98004972, 1938.92709918, 1988.67005897, 1993.16434554,
       2021.10832149, 1998.45655083])

In [15]:
arr

array([['2000-01-03', 'RELIANCE', 'EQ', ..., nan, nan, nan],
       ['2000-01-04', 'RELIANCE', 'EQ', ..., nan, nan, nan],
       ['2000-01-05', 'RELIANCE', 'EQ', ..., nan, nan, nan],
       ...,
       ['2021-04-28', 'RELIANCE', 'EQ', ..., 247331.0, 3921560.0, 0.4963],
       ['2021-04-29', 'RELIANCE', 'EQ', ..., 213153.0, 2834103.0, 0.3527],
       ['2021-04-30', 'RELIANCE', 'EQ', ..., 288687.0, 3902504.0, 0.4265]],
      dtype=object)

In [21]:
features = arr[:, np.newaxis, 0+3]
features

array([[233.05],
       [251.7],
       [271.85],
       ...,
       [1988.65],
       [1997.3],
       [2024.05]], dtype=object)

In [23]:
np.append(features, arr[:, np.newaxis, 1+3], 1)

array([[233.05, 237.5],
       [251.7, 258.4],
       [271.85, 256.65],
       ...,
       [1988.65, 1997.85],
       [1997.3, 2022.9],
       [2024.05, 2008.5]], dtype=object)